<!DOCTYPE html>
<html lang="es">
	<head>
    	<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Dashboard|Monitoreo remoto, Salitre-Guayas [Ecuador]</title>
		<link rel="shortcut icon" type="image/x-icon" href="../resources/icon_web.ico">
    	<link href="../styles/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../styles/style.css" rel="stylesheet" media="screen">
     	<!-- Librerías opcionales que activan el soporte de HTML5 para IE8-->
    	<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    </head>
  	<body>
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="../index.html">Monitoreo remoto</a>
    			</div>
    			<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav">
                       <li><a href="../index.html"><i class="glyphicon glyphicon-home"></i>Principal</a></li>
        				<li  class="active"><a href="dashboard.html"><i class="glyphicon glyphicon-dashboard">    </i>Visualización</a></li>
        				<li><a href="../views/reports.html"><i class="glyphicon glyphicon-stats"></i>Reportes</a></li>
        				<li><a href="../views/pictures.html"><i class="glyphicon glyphicon-picture"></i>Imágenes</a></li>
        				<li><a href="../views/about.html"><i class="glyphicon glyphicon-exclamation-sign"></i>Acerca de</a></li>
      				</ul>
				</div>
  			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3"><!-- Monitor de energía-->
					<div class="panel panel-primary class">
					    <div class="panel-heading">Energía actual:</div> 
                        <div class="container-fluid">
                            <div id="graphic-egenerator"></div>
					    </div>
                    </div>
				</div>
				<div class="col-md-9"><!-- Monitor de gráficas-->
					<div class="panel panel-primary class">
						<div class="panel-heading">Datos de variables del Generador [Panel Fotovoltaico]:</div> 
      						<div class="panel-body">
								<div class="container-fluid">
									<div class="row-fluid">
										<div class="col-md-6" id="graphic-vgenerator" style="height: 250px; min-width: 300px"></div>
										<div class="col-md-6" id="graphic-cgenerator" style="height: 250px;"></div>
									</div>	
								</div>
							</div>
					</div>
					<div class="panel panel-primary class">
						<div class="panel-heading">Datos de variables de la Cargar [Luminarias]:</div> 
      						<div class="panel-body">
								<div class="container-fluid">
									<div class="row-fluid">
										<div class="col-md-6" id="graphic-vcharge" style="height: 250px;"></div>
										<div class="col-md-6" id="graphic-ccharge" style="height: 250px;"></div>
									</div>	
								</div>
							</div>
					
					</div>
				</div>
		    </div>
        </div>
		<!-- Pie de página
		<footer class="footer">
      		<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 text-footer">Todos los derechos reservados. Universidad Politécnica Salesiana [Guayaquil]                         </div>
					<div class="col-md-6"><span class="pull-right">
						<img src="../resources/ups.png" height="40" width="150px">  
						<img src="../resources/colegio_franciscano.png" height="40" width="40px"> 
						</span>
					</div>
				</div>
      		</div>
    	</footer>-->
  	</body>
  	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="../javascript/bootstrap.min.js"></script>
</html>